@media (prefers-color-scheme: light) {
	:root {
		--foreground-color: #24292e;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: #f6f8fa;
		--background-color: #24292e;
	}
}

html, body, #root {
	height: 100%;
	margin: 0;
}

html.dark {
	color-scheme: dark;
}

:root {
	--vscode-sash-hoverBorder: #0969da;
	--vscode-settings-headerBorder: #fafbfc;
}

.app-main {
	color: var(--foreground-color);
	background-color: var(--background-color);
}

.loading {
	height: 100%;
	margin: auto;
}

vscode-split-layout {
	height: 100%;
}

vscode-tabs {
	height: 100%;
	--vscode-settings-headerBorder: transparent;
}

.filename {
	flex: 1;
	width: 100%;
	appearance: none;
	background: transparent;
	border: none;
	padding: 0 24px;
	color: inherit;
	outline: none;
	box-sizing: border-box;
	height: 35px;
	display: flex;
	font-size: 14px;
}
