html, body, #root {
	height: 100%;
	margin: 0;
	background-color: var(--background-color);
}

html.dark {
	color-scheme: dark;
}

:root {
	--vscode-sash-hoverBorder: #0969da;
}

.divider {
	width: var(--vscode-sash-size);
	height: 100%;
	position: relative;
}

@media (prefers-color-scheme: light) {
	.divider {
		--divider-background: #d0d7de;
	}
}

@media (prefers-color-scheme: dark) {
	.divider {
		--divider-background: #30363d;
	}
}

.divider:hover {
	background: var(--vscode-sash-hoverBorder);
}

.divider::before {
	content: " ";
	position: absolute;
	right: -2px;
	left: -2px;
	height: 100%;
	z-index: 5;
}

.divider::after {
	content: " ";
	position: absolute;
	right: 0;
	left: 0;
	z-index: 5;
	height: 100%;
	width: 1px;
	pointer-events: none;
	background-color: var(--divider-background);
}

.loading {
	height: 100%;
	margin: auto;
}
